<div class="formsPage row">
  <!--<div class="col-md-6">
    <h5 class="text-primary" style="font-size: 2rem">
      <i class="fa fa-address-book"></i> Consultation Details
    </h5>
  </div>-->
</div>
<kendo-grid responsiveHeightDirective
            [selectable]="{
                mode: 'single'
            }"
            style="margin-left:15px;"
            [resizable]="true"
            [data]="gridData"
            [filterable]="showFilter"
            [filter]="state.filter"
            [pageable]='true'
            [pageSize]="pageSize"
            [skip]="skip"
            (pageChange)="pageChange($event)"
            [sort]="sort"
            [sortable]="true"
            (sortChange)="sortChange($event)"
            (dataStateChange)="filterChange($event)"
            [kendoGridSelectBy]="true"
            [selectedKeys]="mySelection"
            (selectedKeysChange)="onSelectedKeysChange($event)">

  <ng-template kendoGridToolbarTemplate>

    <div class="checkbox checkbox-primary" style="display:inline-block;">
      <input [checked]="showFilter" type="checkbox" class="k-checkbox" id="showHideConFilter" (click)="showHideFilter()">
      <label for="showHideConFilter" class="k-checkbox-label">
        <i class="fa fa-filter"
           aria-hidden="true"></i> Show Filter
      </label>

    </div>
    <div class="searchField">
      <label for="dateFrom" class="searchRepLabel">Date from:</label>
      <kendo-datepicker id="dateFrom"
                        class="searchRepinput"
                        format="dd MMM yyyy"
                        [(ngModel)]="from"
                        placeholder="dd MMM yyyy">
      </kendo-datepicker>
      <label for="dateTo" class="searchRepLabel">To:</label>
      <kendo-datepicker id="dateTo"
                        [(ngModel)]="to"
                        class="searchRepinput"
                        format="dd MMM yyyy"
                        placeholder="dd MMM yyyy">
      </kendo-datepicker>
      <button type="button" class="btn btn-sm btn-primary" style="margin-left:5px;" (click)="GetReceipts()">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>
      <!--<label for="reason" class="searchRepLabel">Reason:</label>
      <input id="reason" type="text" class="form-control searchRepinput" />
      <label for="category" class="searchRepLabel">Staff Category:</label>
      <input id="category" type="text" class="form-control searchRepinput" />
      <label for="diagnosisi" class="searchRepLabel">Diagnosis:</label>
      <input id="diagnosisi" type="text" class="form-control searchRepinput" />-->
    </div>
    <!--<button type="button" class="k-primary btn btn-danger float-right margin36" (click)="DeleteAllSelected()" style="margin-left:10px;">
      <i class="fa fa-trash" aria-hidden="true"></i> Delete
    </button>-->
    <button type="button" class="k-primary btn btn-success float-right margin36" (click)="AddReceipts(0, 'I')">
      <i class="fa fa-plus" aria-hidden="true"></i> New Data
    </button>
  </ng-template>
  <kendo-grid-column width="8">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="float-right">
        <button type="button" *ngIf="isDraft(dataItem.status)" class="k-primary btn btn-danger btn-sm" (click)="DeleteSelected(dataItem.si_id)" style="margin-left:10px;">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        &nbsp;
        <button type="button" class="k-primary btn btn-primary btn-sm" (click)="AddReceipts(dataItem.si_id, 'U')">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button> &nbsp;
      </div>
    </ng-template>
  </kendo-grid-column>
  <!--<kendo-grid-column field="stock_in_no" title="Stock In No" width="15"></kendo-grid-column>-->
  <kendo-grid-column field="date_received" title="Date Received" width="20"></kendo-grid-column>
  <kendo-grid-column field="invoice_no" title="Invoice No" width="20"></kendo-grid-column>
  <!--<kendo-grid-column field="supplier" title="Supplier" width="25"></kendo-grid-column>
  <kendo-grid-column field="status" title="Status" width="15">

  </kendo-grid-column>-->

  <kendo-grid-column field="remarks" title="Remarks" width="50"></kendo-grid-column>
</kendo-grid>
